@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap");

:root {
  --very-dark-blue-main: hsl(217, 54%, 11%);
  --dark-blue-card: hsl(216, 50%, 16%);
  --dark-blue-line: hsl(215, 32%, 27%);
  --white: hsl(0, 0%, 100%);
  --soft-blue: hsl(215, 51%, 70%);
  --cyan: hsl(178, 100%, 50%);
}

* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Outfit", sans-serif;
  background-color: var(--very-dark-blue-main);
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}

/* ---------------- Start CARD ---------------- */

.card-container {
  background-color: var(--dark-blue-card);
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: rgba(9, 9, 10, 0.2) 0px 7px 29px 0px;
  width: 24rem;
  height: 37rem;
}

.object {
  border-radius: 0.6rem;
  width: 20rem;
  margin: 1.5rem 0 1rem 0;
  box-shadow: rgba(9, 9, 10, 0.2) 0px 7px 29px 0px;
  cursor: pointer;
  position: relative;
}

.object:hover {
  opacity: 0.4;
}

.layer {
  background-color: var(--cyan);
  width: 19.9rem;
  height: 20rem;
  margin: 1.5rem 0 1rem 0;
  border-radius: 0.6rem;
  cursor: pointer;
  object-fit: cover;
  position: absolute;
}

.layer:hover {
  z-index: 1;
}

.icon-view {
  position: absolute;
  top: 8.5rem;
  left: 8.5rem;
}

.icon-view:hover {
  z-index: 1;
}

h1 {
  color: var(--white);
  font-size: 1.125rem;
  width: 80%;
  margin-bottom: 1.2rem;
  cursor: pointer;
}

h1:hover {
  color: var(--cyan);
}

.description {
  color: var(--soft-blue);
  font-weight: 300;
  font-size: 1.125rem;
  width: 80%;
  margin-bottom: 1.2rem;
}

.wrap {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin-bottom: 1.2rem;
}

.points {
  color: var(--cyan);
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.3rem;
}

.days {
  color: var(--soft-blue);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.3rem;
}

hr {
  border-top: 0.14rem solid var(--soft-blue);
  background-color: var(--soft-blue);
  width: 80%;
  opacity: 0.07;
  margin-bottom: 1.2rem;
}

.creator {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 2rem;
  width: 80%;
}

.avatar {
  width: 2rem;
  border: 0.1rem solid var(--white);
  border-radius: 100%;
}

.creator-by {
  color: var(--soft-blue);
}

span {
  color: var(--white);
  cursor: pointer;
}

span:hover {
  color: var(--cyan);
}

/* ---------------- End CARD ---------------- */
/* --------------- Start FOOTER --------------- */

.attribution {
  font-size: 11px;
  text-align: center;
  color: var(--white);
  margin-top: 1rem;
}
.attribution a {
  color: var(--soft-blue);
}

/* --------------- End FOOTER --------------- */
